.gamesSVG{
    float: right; 
}

.webappSVG{
    height: 15rem;
    float: right; 
}

hr{
    margin-right: 30vw;
}

h1{
     font-family: 'Open Sans Condensed', sans-serif;
}

.webappsSection{
    
    i{
        position: absolute;
        bottom: 5rem;
        right: 4rem;
    }

    :hover + i{
        animation-name: mouse;
        animation-duration: 1.2s;
        animation-timing-function: ease-out;
        transform: translateY(-7.5rem)
        translateX(-4rem);
    }

    @keyframes mouse{
        from{
            transform: translateY(0rem)
            translateX(0rem);
        }
        to {
            transform: translateY(-7.5rem)
            translateX(-4rem);
        }
    }
}


