<div class="card shadow slide-right">

  <div class="row">
      <h1>Web Apps</h1>
      <div class="webSection">
          <img class="games" src="../assets/img/home/webapp1.svg"/>    
      </div>
  </div>
 
</div>

<div class="card shadow slide-right">

  <div class="row">
      <h1>Software</h1>
      <div class="softwareSection">
          <img class="games" src="../assets/img/home/games1.svg"/>    
      </div>
  </div>
 
</div>

<div class="card shadow slide-right">

  <div class="row">
      <div class="col-4"><h1>Games</h1></div>
      <div class="col-8">
         <div class="gamesSection">
            <img class="games" src="../assets/img/home/games1.svg"/>    
         </div>
      </div>
  </div>
 
</div>


