<div class="card shadow slide-right" #webapp>

  <div class="row">
      <div class="col-12"><a routerLink="/Projects"><h1>Web Apps</h1></a></div>
  </div>
  <hr />
  <div class="row">
      <div *ngFor="let web of webappData" class="showcase">
              <div class="showcase-img">
                <a href={{web.SourceLink}}><img src="../../assets/img/projects/{{web.Img[0]}}"/></a>
              </div>
      </div>
  </div>
 
</div>

<div class="card shadow slide-right" #software>

  <div class="row">
      <div class="col-12"><a routerLink="/Projects"><h1>Software</h1></a></div>
  </div>
  <hr />
  <div class="row">
      <div *ngFor="let software of softwareData" class="showcase">
              <div class="showcase-img">
                <a href={{software.SourceLink}}><img src="../../assets/img/projects/{{software.Img[0]}}"/></a>
              </div>
      </div>
  </div>
 
</div>

<div class="card shadow slide-right" #game>

  <div class="row">
      <div class="col-12"><a routerLink="/Projects"><h1>Games</h1></a></div>
  </div>
  <hr />
  <div class="row">
      <div *ngFor="let game of gamesData" class="showcase">
              <div class="showcase-img">
                <a href={{game.SourceLink}}><img src="../../assets/img/projects/{{game.Img[0]}}"/></a>
              </div>
      </div>
  </div>
 
</div>


