img{
    max-width: 30rem;
    border-width: .5rem;
    border-style: solid;
    border-radius: 2px;
    border-color: #f4f4f4;
}

h2{
    font-family: 'Open Sans Condensed', sans-serif;
}

.horz-center{
    padding-left: 4.5%;
    padding-right: 4.5%;
}

.webpage{
    padding: 0 1.5rem 2rem 1.5rem;

    h1{
        font-size: 1.5rem;
    }
}