
<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#"><p>Johnson Lu</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <span *ngFor='let link of links; let i = index'>
        <span *ngIf="!link.external; else externalLink">
            <a class="nav-item nav-link" routerLink={{link.url}} [@pop]="state[i]" (mouseenter)="playAnim(i)" (mouseleave)= "playAnim(i)"> 
              <i class={{link.ico}}></i> {{link.name}}
            </a>  
        </span>
        <ng-template #externalLink>
            <a class="nav-item nav-link" href={{link.url}} [@pop]="state[i]" (mouseenter)="playAnim(i)" (mouseleave)= "playAnim(i)"> 
              <i class={{link.ico}}></i> {{link.name}}
            </a>  
        </ng-template> 
      </span>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
