<svg width="18rem" height="15rem" viewBox="70 70 100 130">
  <g>
    <path
       style="fill:#808080;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 49.712131,83.779266 V 189.29038 H 165.97438 V 76.502638 H 60.402914 Z"
       id="path949"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#4d4d4d;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 49.712126,78.662274 V 187.1737 H 143.67378 V 71.178728 h -85.3215 z"
       id="path949-1"
       inkscape:connector-curvature="0" />
    <g
       id="g1572"
       class="disk">
      <circle
         r="16.169806"
         cy="142.00986"
         cx="107.84863"
         id="path1511"
         style="fill:#333333;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <circle
         r="13.964832"
         cy="142.07666"
         cx="107.91544"
         id="path1511-3"
         style="fill:#e6e6e6;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <rect
         ry="1.4699824"
         y="137.86717"
         x="104.63602"
         height="4.2763119"
         width="6.5481029"
         id="rect1532"
         style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <rect
         ry="1.4699826"
         y="144.94981"
         x="102.49786"
         height="5.0781207"
         width="10.423512"
         id="rect1534"
         style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
    <path
       style="fill:#4d4d4d;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 143.67378,187.1737 h 22.25777 V 73.238094 h -14.17411 l -4.12224,2.379978 -7.63367,4.407297 V 187.19791 Z"
       id="path1557"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#333333;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 146.65124,71.185108 3.24517,3.133896 v 37.661646 l -82.224921,0.26727 V 71.149443 Z"
       id="path1559"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccc" />
    <g
       id="g1548"
       class="clip"
       transform="matrix(1,0,0,1.0418605,0.56695557,-2.7106471)">
      <rect
         ry="4.5357141"
         y="69.269341"
         x="67.090775"
         height="40.632439"
         width="70.303574"
         id="rect1538"
         style="fill:#ececec;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <path
         inkscape:connector-curvature="0"
         id="path1540"
         d="M 76.21035,74.536622 V 101.98799 H 90.544537 V 74.403361 Z"
         style="fill:#666666;fill-opacity:1;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
  </g>
</svg>

