<div class="card shadow center slide-left" id="Top">
  <h1 class="header">
    Projects
  </h1>
</div>

<div class="card shadow slide-right" id="webapp">
  <h2 class="sectionHeader">Web Apps</h2>
  <hr class="headerDivider"/>
    <div *ngFor="let proj of webapp">
        <div class="container">
          <div class="row proj">
                <div class="col-6"> 
                  <span *ngIf="proj.SourceLink != null;else elseBlock">
                    <h2><a href={{proj.SourceLink}}>{{proj.Name}}</a></h2>
                  </span>
                  <ng-template #elseBlock>
                    <h2><a href={{proj.Visit}}>{{proj.Name}}</a></h2>
                  </ng-template>
                  
                  <ul class="languages">
                    <span *ngFor="let ico of proj.languages">
                        <li><i class={{ico}}></i></li>
                    </span>
                  </ul>

                  <ul>
                  <span *ngFor="let details of proj.Details">
                    <li>{{details}}</li>
                  </span>
                  </ul>
                </div>
                <div class="col-6">
                    <img src="../assets/img/projects/{{proj.Img[0]}}"/>
                </div>
          </div>
      </div>
  </div>
</div>


<div class="card shadow slide-left" id="software">
  <h2 class="sectionHeader">Software</h2>
    <hr class="headerDivider"/>
    <div *ngFor="let proj of software">
        <div class="container">
        <div class="row proj">
              <div class="col-6"> 
                  <span *ngIf="proj.SourceLink != null;else elseBlock">
                    <h2><a href={{proj.SourceLink}}>{{proj.Name}}</a></h2>
                  </span>
                  <ng-template #elseBlock>
                    <h2><a href={{proj.Visit}}>{{proj.Name}}</a></h2>
                  </ng-template>
                
                <ul class="languages">
                  <span *ngFor="let ico of proj.languages">
                      <li><i class={{ico}}></i></li>
                  </span>
                </ul>

                <ul>
                <span *ngFor="let details of proj.Details">
                  <li>{{details}}</li>
                </span>
                </ul>
              </div>
              <div class="col-6">
                  <img src="../../assets/img/projects/{{proj.Img[0]}}"/>
              </div>
        </div>
    </div>
  </div>
</div>



<div class="card shadow slide-right" id="game">
  <h2 class="sectionHeader">Games</h2>
    <hr class="headerDivider"/>
    <div *ngFor="let proj of games">
        <div class="container">
        <div class="row proj">
              <div class="col-6"> 
                  <span *ngIf="proj.SourceLink != null;else elseBlock">
                    <h2><a href={{proj.SourceLink}}>{{proj.Name}}</a></h2>
                  </span>
                  <ng-template #elseBlock>
                    <h2><a href={{proj.Visit}}>{{proj.Name}}</a></h2>
                  </ng-template>
                
                <ul class="languages">
                  <span *ngFor="let ico of proj.languages">
                      <li><i class={{ico}}></i></li>
                  </span>
                </ul>

                <ul>
                <span *ngFor="let details of proj.Details">
                  <li>{{details}}</li>
                </span>
                </ul>
              </div>
              <div class="col-6">
                  <img src="../assets/img/projects/{{proj.Img[0]}}"/>
              </div>
        </div>
    </div>
  </div>
</div>


<div id="sideNav" class="slide-right-2">
  <ul>
    <li  [@shift]="state[0]"  (mouseenter)="playAnim(0)" (mouseleave)= "playAnim(0)">
      <app-top-button></app-top-button>
    </li>
    <li  [@shift]="state[1]"  (mouseenter)="playAnim(1)" (mouseleave)= "playAnim(1)">
      <app-nav-button           
          color = "#ff6760"
          name = "WebApp"
          ico = "fab fa-html5"
          ref = "webapp">
      </app-nav-button>
    </li>
    <li  [@shift]="state[2]"  (mouseenter)="playAnim(2)" (mouseleave)= "playAnim(2)">
      <app-nav-button           
          color = "#92d7ef"
          name = "Software"
          ico = "fas fa-save"
          ref = "software">
      </app-nav-button>
    </li>
    <li  [@shift]="state[3]"  (mouseenter)="playAnim(3)" (mouseleave)= "playAnim(3)">
      <app-nav-button           
          color = "#ae301f"
          name = "Game"
          ico = "fas fa-dice-five"
          ref = "game">
      </app-nav-button>
    </li>
  </ul>
</div>


<app-footer></app-footer>