<div class="card shadow slide-right">
  <div class="row">
    <div class="col-5"><img class="ico" src={{profilePicPath}} /></div>
    <div class="col-7">
      <h1> Johnson Lu</h1>
      <p class="lead">Software Developer</p>
      <p><em> Stony Brook '17, Computer Science Bachelor's of Science</em></p>
      <hr/>
      <p class="desc">
        I don't know how many times I've rewritten my portfolio site anymore. Last time I made it out of React.js + Redux and now I'm entering the world of Angular 5.
        I'm both a front end and back end developer. I also have skills in software and database development. I hope to have the skill sets to be consider a Full Stack Engineer.
      </p>

      <p class="desc">
        I really enjoy learning new skills both Computer Science related or not. My favorite lanagues are Java and Python and my favorite frameworks are React and Spring.
        So far I'm enjoying Angular 5.
      </p>
    </div>
  </div>
</div>