@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


.ico{
    height: 25rem;
    padding-left: 5rem;
}

p, h1{
    font-family: 'Titillium Web', sans-serif;
}

.desc{  
    text-indent: 2rem;
}