<div class="py-5 bg-dark text-white ">
    <div class="footer">
      <div class="">
        <p>Created by Johnson Lu (2018)</p>
      </div>
      <div class="social">
        <div class="footIco"><a href="https://github.com/JohnsonLu3" target="_blank"><i class="fab fa-git-square"></i></a></div>
        <div class="footIco"><a href="https://www.linkedin.com/in/johlu1/" target="_blank"><i class="fab fa-linkedin"></i></a></div>
        <div class="footIco"><a href="mailto:JohnsonLu404@gmail.com"><i class="fas fa-envelope-square"></i></a></div>
      </div>
    </div>
</div>