.footer{
}

p{
    padding-left: 5rem;
    float: left;
}

i{
    font-size: 2.5rem;
    color: white;
}

.footIco{
    margin: 0 1.5rem 2rem 1.5rem;
    display: inline;
}

.social{
    float: right;
    bottom: 0rem;
    right: 0rem;
}