/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

$background : #e6eeee;

body{
    background-color: $background;
}

.shadow{
    -webkit-box-shadow: 10px 10px 14px -11px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 10px 14px -11px rgba(0,0,0,0.36);
    box-shadow: 10px 10px 14px -11px rgba(0,0,0,0.36);
}

.card{
    margin: 2rem 5rem 2rem 5rem;
    padding: 3.5rem;
}

.slide-right{
    animation-name: slideFromRight;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
}

.slide-left{
    animation-name: slideFromLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
}

@keyframes slideFromRight{
    from{
        transform: translateX(120%)
    }
    to {
        transform: translateX(0%)
    }
}

@keyframes slideFromLeft{
    from{
        transform: translateX(-120%)
    }
    to {
        transform: translateX(0%)
    }
}