<div class="container py-5">
  <div class="col-lg-12">
    <div class="row">
        <p class="lead">ToDo List({{itemCount}})</p>
    </div>

    <div class="row">
      <form action="">
        <div class="input-group mb-3 inputField">
          <input type="text" class="form-control" aria-describedby="basic-addon2" name = "item" [(ngModel)] = "todoText">
          <div class="input-group-append">
            <input class="btn btn-outline-primary" type="submit" value="Add Item" (click)="addItem()" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row todoList">
    <ul>
      <li *ngFor="let task of todoItems"> <input type="checkbox" id={{task}} /> {{task}}</li>
    </ul>
  </div>
</div>