.todoList{
    margin: 5% 2% 5% 2%;
    background-color: whitesmoke;
    padding: 5%;
    -webkit-box-shadow: 2px 8px 13px -3px rgba(0,0,0,0.24);
    -moz-box-shadow: 2px 8px 13px -3px rgba(0,0,0,0.24);
    box-shadow: 2px 8px 13px -3px rgba(0,0,0,0.24);

    ul{
        list-style: none;

        input{
            height: 1.5em; 
            width: 1.5em;
           
        }

        input[type=checkbox]:checked + label{
             color: #589d62;
        }
    }
}

form{
    width: 100%;
}

.btn{
    padding-left: .3em;
}

.inputField{
    input{
        width: 90%;
    }
}